/* TAG SELECTORS */
h1{
    color:red;
    font-size: 100px;
}

p{
    color: red;
}

img:hover{
    background-color: goldenrod;
}

/* CLASS SELECTORS */

.bacon{
    background-color: green;
}

.brocolli{
    background-color: red;
}

.circular{
    border-radius: 2cm;
}
/* ID SELECTORS */
#heading{  /* ID's are unique and cannot be replicated */
    color: magenta;
}