body{
    margin:0;
    text-align: center;
}

h1{
    margin-top: 0px;
    padding-top: 140px;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color: rgb(0, 208, 255);
}

h2{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
}

h3{
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}

.top-container{
    background-color: #aae9e9;
}



span{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    margin-top: 75px;
    margin-left: 150px;
}

.bottom-cloud{
    position: absolute;
}